@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: monospace;
  --font-mono: monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: monospace;
  --radius: 0rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2156 0 0);
  --card: oklch(0.9848 0 0);
  --card-foreground: oklch(0.2156 0 0);
  --popover: oklch(0.9848 0 0);
  --popover-foreground: oklch(0.2156 0 0);
  --primary: oklch(0.6230 0.1688 149.1777);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9595 0.0088 247.9169);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9514 0.0105 247.9370);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.6230 0.1688 149.1777);
  --chart-1: oklch(0.6230 0.1688 149.1777);
  --chart-2: oklch(0.6926 0.1466 162.8502);
  --chart-3: oklch(0.7737 0.1295 194.8096);
  --chart-4: oklch(0.6611 0.1326 236.6908);
  --chart-5: oklch(0.5770 0.1501 262.6332);
  --sidebar: oklch(0.9848 0 0);
  --sidebar-foreground: oklch(0.2697 0 0);
  --sidebar-primary: oklch(0.6230 0.1688 149.1777);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.9290 0.0126 255.5317);
  --sidebar-ring: oklch(0.6230 0.1688 149.1777);
  --font-sans: monospace;
  --font-serif: monospace;
  --font-mono: monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --tracking-normal: 0.08em;
  --spacing: 0.25rem;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0.05em;
}

.dark {
  --background: oklch(0.1536 0.0078 264.3301);
  --foreground: oklch(0.8094 0.1769 152.1849);
  --card: oklch(0.1757 0.0106 264.2530);
  --card-foreground: oklch(0.8094 0.1769 152.1849);
  --popover: oklch(0.1757 0.0106 264.2530);
  --popover-foreground: oklch(0.8094 0.1769 152.1849);
  --primary: oklch(0.6732 0.1834 149.0748);
  --primary-foreground: oklch(0.9590 0.0049 264.5351);
  --secondary: oklch(0.2096 0.0109 264.3076);
  --secondary-foreground: oklch(0.8094 0.1769 152.1849);
  --muted: oklch(0.2306 0.0127 264.2863);
  --muted-foreground: oklch(0.6369 0.1241 153.2123);
  --accent: oklch(0.2511 0.0145 264.2688);
  --accent-foreground: oklch(0.8094 0.1769 152.1849);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9590 0.0049 264.5351);
  --border: oklch(0.2909 0.0180 264.2422);
  --input: oklch(0.2096 0.0109 264.3076);
  --ring: oklch(0.6732 0.1834 149.0748);
  --chart-1: oklch(0.6732 0.1834 149.0748);
  --chart-2: oklch(0.7560 0.1607 162.7087);
  --chart-3: oklch(0.8373 0.1403 194.8066);
  --chart-4: oklch(0.6907 0.1236 234.6736);
  --chart-5: oklch(0.6229 0.1320 263.0131);
  --sidebar: oklch(0.1290 0.0056 262.0011);
  --sidebar-foreground: oklch(0.8094 0.1769 152.1849);
  --sidebar-primary: oklch(0.6732 0.1834 149.0748);
  --sidebar-primary-foreground: oklch(0.9590 0.0049 264.5351);
  --sidebar-accent: oklch(0.2096 0.0109 264.3076);
  --sidebar-accent-foreground: oklch(0.8094 0.1769 152.1849);
  --sidebar-border: oklch(0.2612 0.0154 264.2613);
  --sidebar-ring: oklch(0.6732 0.1834 149.0748);
  --font-sans: monospace;
  --font-serif: monospace;
  --font-mono: monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0.08em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}